
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Maternity Allowance Alpha
      </h1>

      <ul class="govuk-list govuk-!-margin-bottom-6">
        <li>
          <a href="/alpha/iteration-10/" class="govuk-body govuk-!-font-weight-bold">Iteration 10</a>
        </li>
        <li>
          <a href="/alpha/iteration-9/" class="govuk-body govuk-!-font-weight-bold">Iteration 9</a>
        </li>
        <li>
          <a href="/alpha/iteration-8/" class="govuk-body govuk-!-font-weight-bold">Iteration 8</a>
        </li>
        <li>
          <a href="/alpha/iteration-7/" class="govuk-body govuk-!-font-weight-bold">Iteration 7</a>
        </li>
        <li>
          <a href="/alpha/iteration-6/" class="govuk-body govuk-!-font-weight-bold">Iteration 6</a>
        </li>
        <li>
          <a href="/alpha/iteration-5/" class="govuk-body govuk-!-font-weight-bold">Iteration 5</a>
        </li>
        <li>
          <a href="/alpha/iteration-4/" class="govuk-body govuk-!-font-weight-bold">Iteration 4</a>
        </li>
        <li>
          <a href="/alpha/iteration-3/" class="govuk-body govuk-!-font-weight-bold">Iteration 3</a>
        </li>
        <li>
          <a href="/alpha/iteration-2/" class="govuk-body govuk-!-font-weight-bold">Iteration 2</a>
        </li>
        <li>
          <a href="/alpha/iteration-1/" class="govuk-body govuk-!-font-weight-bold">Iteration 1</a>
        </li>
      </ul>

      <p><a href="/ur/alpha.html" class="govuk-body govuk-!-font-weight-bold">User Research Alpha</a></p>

    </div>
  </div>

{% endblock %}
