
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "#"
    }) }}
  {% endblock %}

  {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Claim summary</h1>

        <h2 class="govuk-heading-m">Claimant details</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: "Sarah Philips"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "National Insurance Number"
              },
              value: {
                text: "HK 76 54 32 Y"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "5 January 1978"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Postcode"
              },
              value: {
                html: "SE23 6FH"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Contact number"
              },
              value: {
                html: '07700 900457'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}


        <h2 class="govuk-heading-m">Claim dates</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Baby due date"
              },
              value: {
                text: "18 September 2021"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            },
            {
              key: {
                text: "First day of Test Period"
              },
              value: {
                text: "7 June 2020"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Last day of Test Period"
              },
              value: {
                text: "11 September 2021"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            },
            {
              key: {
                text: "15th week before the baby due date"
              },
              value: {
                text: "30 May 2021"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Employment and earnings</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Employment test"
              },
              value: {
                text: "Met"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Employment test weeks used"
              },
              value: {
                text: "31 January 2021 to 25 July 2021"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Earnings test"
              },
              value: {
                text: "Met"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Earnings test weeks used"
              },
              value: {
                text: "2 May 2021 to 25 July 2021"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Average weekly earnings for earnings test"
              },
              value: {
                text: "£200.35"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Maternity Allowance decision</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Decision"
              },
              value: {
                text: "Allowed"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Rate"
              },
              value: {
                text: "Standard rate at £151.97 per week"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "previous application number"
                  }
                ]
              }
            }
          ]
        }) }}


        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

      </div>
    </div>
  {% endblock %}
