
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Maternity Allowance
      </h1>

      <h2 class="govuk-heading-m">Letter A</h2>
      <ul class="govuk-list govuk-!-margin-bottom-6">
        <li>
          <a href="a/bm9.html" class="govuk-body govuk-!-font-weight-bold">BM9</a>
        </li>
        <li>
          <a href="a/bm9se.html" class="govuk-body govuk-!-font-weight-bold">BM9SE</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Letter B</h2>
      <ul class="govuk-list govuk-!-margin-bottom-6">
        <li>
          <a href="b/bm9.html" class="govuk-body govuk-!-font-weight-bold">BM9</a>
        </li>
        <li>
          <a href="b/bm9se.html" class="govuk-body govuk-!-font-weight-bold">BM9SE</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
