
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" method="post" novalidate>


        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "countries",
          fieldset: {
            legend: {
              text: "Select if the claimant needs Welsh language communications",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all countries that apply"
          },
          items: [
            {
              value: "WelshLetters",
              text: "Welsh language letters"
            },
            {
              value: "WelshPhone",
              text: "Welsh language phone calls"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "No, the claimant does not need Welsh language communications",
              behaviour: "exclusive"
            }
          ]
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
