//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


@import "custom/key-details";
@import "custom/key-details-old";
@import "custom/key-details-white-old";
@import "custom/dwp-sub-navigation";
@import "custom/letters";
@import "custom/content-highlight";
@import "custom/navbuttons";
@import "custom/hidden";
@import "custom/tags";
@import "custom/navigation";
@import "custom/statement-view";
@import "custom/summary-action-list";
@import "custom/nav";

.govuk-details__noborder {
  padding-top: 10px;
}

#no-border .govuk-header__container { border-bottom:0; margin-bottom:0; }
#no-border .govuk-header { border-bottom:0; }

.key-details-bar {
  margin: -50px 0 0;
  .govuk-tag--white {
      color: #005ea5;
      background: #FFF;
      float: right;
  }
  .govuk-tag--green {
      float: right;
      margin: 10px 0 0 0
  }
}

.key-details-bar-white {
  margin: -30px 0 0;
  .govuk-tag--white {
      color: #005ea5;
      background: #FFF;
      float: right;
  }
  .govuk-tag--green {
      float: right;
      margin: 10px 0 0 0
  }
}

.key-details-bar-white-old {
  margin: -30px 0 0;
  .govuk-tag--white {
      color: #005ea5;
      background: #FFF;
      float: right;
  }
  .govuk-tag--green {
      float: right;
      margin: 10px 0 0 0
  }
}

.govuk-header__content {
  padding-left: 0;
}

.no-padding-right {
  .govuk-table__header:last-child, .govuk-table__cell:last-child {
      padding-right: 20px;
  }
}

.float-right { float: right; margin-right: 0; display: none;}
.govuk-button--secondary { float: right; margin-right: 0; margin: 20px 0 0 0;}

.dwp-key-details-bar {
  background-color: #1d70b8;
  color: #fff;
  font-family: Arial, sans-serif;
  margin-right: -70%;
  margin-left: -70%;
  margin-top: -10px !important;
  }
  
  .dwp-key-details-bar dt,
  .dwp-key-details-bar dd {
  border: none;
  margin: 0;
  padding: 0;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 30px;
  position: relative;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__top-block::after,
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block::after {
  clear: both;
  content: ' ';
  display: block;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
  border-top: 1px solid rgba(255, 255, 255, .3);
  content: ' ';
  padding-top: 10px;
  margin-top: 6px;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details dd,
  .dwp-key-details-bar .dwp-key-details-bar__key-details dt {
  float: left;
  font-size: 19px;
  margin-right: 5px;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details dd {
  margin-right: 20px;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  margin-right: 10px;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__nino {
  font-size: 24px;
  line-height: 1;
  margin-top: 12px;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  padding: 5px 8px 0;
  color: #005ea5;
  background-color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin: 5px 0 0;
  }
  
  @media (max-width: 40.0525em) {
  .dwp-key-details-bar .dwp-key-details-bar__key-details {
  padding: 20px 15px;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__bottom-block {
  border: 0;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details dd,
  .dwp-key-details-bar .dwp-key-details-bar__key-details dt {
  float: none;
  font-size: 16px;
  margin: 0;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details dd {
  margin-bottom: 20px;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details dd:last-of-type {
  margin-bottom: 20px;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__name {
  font-size: 24px;
  line-height: 1.04167;
  float: left;
  margin: 0 5px 0 0;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__nino {
  font-size: 18px;
  float: left;
  margin: 5px 0 0 0;
  }
  
  .dwp-key-details-bar .dwp-key-details-bar__key-details .dwp-key-details-bar__status {
  font-size: 14px;
  float: left;
  clear: both;
  margin-top: 5px;
  }
  } 

  .moj-side-navigation{ position: sticky; }

  .payslips-table .govuk-form-group  {
    margin-bottom: 0px !important;
}













$dwp-quick-reference-font-colour: govuk-colour("white") !default;

$dwp-quick-reference-alt-font-colour: govuk-colour("white") !default;
$dwp-quick-reference-alt-bg-colour: $govuk-brand-colour !default;

$dwp-quick-reference-label-breakpoint: 400px !default;

.dwp-quick-reference {
  margin: govuk-spacing(3) 0;
  color: $dwp-quick-reference-font-colour;
  font-family: $govuk-font-family;

  word-break: break-word; 

  &:first-child {
    margin-top: 0;
  }

  &--alternative {
    margin-left: -15px;
    padding: govuk-spacing(3) govuk-spacing(3) govuk-spacing(1) govuk-spacing(3);
    color:  govuk-colour("white");
    background: $govuk-brand-colour;

    @include govuk-media-query($until: tablet) {
      margin-right: -15px;
    }
  }

  &__block {
    margin: 0;
    padding: 0;
  }

  &__label {
    @include govuk-font($size: 19, $weight: bold);
    margin: 0;
    padding: 0 govuk-spacing(2) 0 0;
    float: left;

    &:has(+.dwp-quick-reference__status) {
      padding-top: govuk-spacing(1);
    }

    @include govuk-media-query($until: $dwp-quick-reference-label-breakpoint) {
      padding-bottom: 4px;
      float: none;
    }
  }

  &__primary {
    @include govuk-font($size: 27, $weight: bold);
    margin: 0;
    padding-bottom: govuk-spacing(2);

    @include govuk-media-query($until: tablet) {
      font-size: 20px; // custom font size
    }
  }

  &__secondary {
    @include govuk-font($size: 19);
    margin: 0;
    padding-bottom: govuk-spacing(2);
  }

  &__status {
    margin: 0;   
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(3);

    .govuk-tag {
      max-width: 260px;
    }

    &--white {
      color: $govuk-brand-colour;
      background-color: govuk-colour("white");
    }
  }
}

.dwp-quick-reference--reduced {
  margin-bottom: govuk-spacing(3);

  .dwp-quick-reference {
    &__label {
      float: none;

      @include govuk-media-query($until: tablet) {
        margin-bottom: 3px;

        &:has(+.dwp-quick-reference__status) {
          margin-bottom: 7px;
          padding-top: 0;
        }
      }
    }
  }
}


.dwp-quick-reference__block {
  background-color: #1d70b8;
    padding: 10px;
}

















