
{% extends "layout.html" %}
{% set bodyAttributes = { id: "no-border" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {% block content %}

  <section class="key-details-bar govuk-!-margin-bottom-6" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Alice Crowther</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">XX123456X</dt>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>16 September 1989</dd>
      </div>
    </dl>
  </section>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-m">Maternity Allowance decision</h1>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Decision",
                classes: 'govuk-!-width-one-half'
              },
              value: {
                text: "Allowed",
                classes: 'govuk-!-width-one-half'
              }
            },
            {
              key: {
                text: "Rate"
              },
              value: {
                text: "Standard rate at £151.97 per week"
              }
            },
            {
              key: {
                text: "Maternity Allowance Period start date"
              },
              value: {
                text: "25 October 2021"
              }
            },
            {
              key: {
                text: "Maternity Allowance Period end date"
              },
              value: {
                text: "17 July 2022"
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Claimant details</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Name",
                classes: 'govuk-!-width-one-half'
              },
              value: {
                text: "Alice Crowther",
                classes: 'govuk-!-width-one-half'
              }
            },
            {
              key: {
                text: "National Insurance Number"
              },
              value: {
                text: "XX123456X"
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "16 September 1989"
              }
            },
            {
              key: {
                text: "Postcode"
              },
              value: {
                html: "SR5 6JW"
              }
            },
            {
              key: {
                text: "Contact number"
              },
              value: {
                html: '07858 787560'
              }
            }
          ]
        }) }}


        <h2 class="govuk-heading-m">Test Period dates</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Baby due date",
                classes: 'govuk-!-width-one-half'
              },
              value: {
                text: "22 November 2021",
                classes: 'govuk-!-width-one-half'
              }
            },
            {
              key: {
                text: "First day of Test Period"
              },
              value: {
                text: "16 August 2020"
              }
            },
            {
              key: {
                text: "Last day of Test Period"
              },
              value: {
                text: "20 November 2021"
              }
            },
            {
              key: {
                text: "15th week before the baby due date"
              },
              value: {
                text: "8 August 2021"
              }
            }
          ]
        }) }}


        <h2 class="govuk-heading-m">Maternity Allowance Period dates</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Date claim received",
                classes: 'govuk-!-width-one-half'
              },
              value: {
                text: "8 October 2021",
                classes: 'govuk-!-width-one-half'
              }
            },
            {
              key: {
                text: "Date last worked"
              },
              value: {
                text: "16 October 2021"
              }
            },
            {
              key: {
                text: "Expected week of confinement"
              },
              value: {
                text: "21 November 2021"
              }
            },
            {
              key: {
                text: "4th week before the baby due date"
              },
              value: {
                text: "24 October 2021"
              }
            },
            {
              key: {
                text: "11th week before the baby due date"
              },
              value: {
                text: "5 September 2021"
              }
            },
            {
              key: {
                text: "Start date requested by claimant"
              },
              value: {
                text: "31 October 2021"
              }
            },
            {
              key: {
                text: "Maternity Allowance Period start date"
              },
              value: {
                text: "25 October 2021"
              }
            },
            {
              key: {
                text: "Maternity Allowance Period end date"
              },
              value: {
                text: "17 July 2022"
              }
            }
          ]
        }) }}


        <h2 class="govuk-heading-m">Employment and earnings</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-6',
          rows: [
            {
              key: {
                text: "Employment test",
                classes: 'govuk-!-width-one-half'
              },
              value: {
                text: "Met",
                classes: 'govuk-!-width-one-half'
              }
            },
            {
              key: {
                text: "Employment test weeks used"
              },
              value: {
                text: "28 March 2021 to 19 September 2021"
              }
            },
            {
              key: {
                text: "Earnings test"
              },
              value: {
                text: "Met"
              }
            },
            {
              key: {
                text: "Earnings test weeks used"
              },
              value: {
                text: "27 June 2021 to 19 September 2021"
              }
            },
            {
              key: {
                text: "Average weekly earnings for earnings test"
              },
              value: {
                text: "£200.35"
              }
            }
          ]
        }) }}




        <details class="govuk-details " data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Highest earning weeks
    </span>
  </summary>
  <div class="govuk-details__noborder">

        {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Highest earning weeks",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Dates",
      classes: 'govuk-!-width-one-half'
    },
    {
      text: "Amount"
    }
  ],
  rows: [
    [
    {
      text: "27 June to 3 July 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "4 July to 10 July 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "11 July to 17 July 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "18 July to 24 July 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "25 July to 31 July 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "1 August to 7 August 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "8 August to 14 August 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "15 August to 21 August 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "22 August to 28 August 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "29 August to 4 September 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "5 September to 11 September 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "12 September to 18 September 2021"
    },
    {
      text: "£200.35"
    }
  ],
  [
    {
      text: "19 September to 25 September 2021"
    },
    {
      text: "£200.35"
    }
    ]
  ]
}) }}
</div>
</details>


        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

      </div>
    </div>
  {% endblock %}
