
{% extends "layout-summary.html" %}
{% set bodyAttributes = { id: "summary-screen" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

<section class="dwp-quick-reference" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary" style="color:white;">Keira Ash</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary" style="color:white;">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary" style="color:white;">ZZ 12 34 56 Z</dd>

  </dl>
  </section>



      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}
    {% endblock %}


  {% block content %}


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">

          <nav class="dwp-sub-navigation govuk-!-margin-top-0" aria-label="Sub navigation">
            <nav class="moj-side-navigation" aria-label="Side navigation">
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item  ">
                  <a href="1-2" aria-current="location">Decision and dates</a>
                </li>
<li class="moj-side-navigation__item">
                  <a href="1-claimant-information-2">Claimant information</a>
                </li>
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="1-employment-and-earnings-nics-2">Employment and earnings</a>
                </li>

                
<!--<li class="moj-side-navigation__item">
                  <a href="1-evidence-2-employers-2">Evidence</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="1-claim-history-2">Claim history</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-change-of-circ-2">Change of circumstance</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="/beta-private/iteration-26/find-a-claim/preferences/1-preferences-adjustment">Preferences</a>
                </li>-->


              </ul>
            </nav>
          </nav>
       

        </div>

        <div class="govuk-grid-column-three-quarters">

{% from "govuk/components/table/macro.njk" import govukTable %}


<section id="employment-and-earnings" class="govuk-!-padding-top-6">

  <h2 class="govuk-heading-m" id="employment-and-earnings">Self-employment</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-0">
    <!--<div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        Employment type
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['ma-employment-type'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        &nbsp;
      </dd>
    </div>-->
    <!--<div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        Employment test
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['ma-employment-test'] }}
      </dd>
     
    </div>-->

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value govuk-!-width-one-half">
        Registered as self-employed during test period
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
 
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
        Self-employment start date
      </dt>
      <dd class="govuk-summary-list__value">
       20 August 2023
      </dd>
   
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
        Still self-employed
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
    <!--<div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
        Self-employment end date
      </dt>
      <dd class="govuk-summary-list__value">
        12 April 2026
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>-->
  </dl>

  <br>
  <!--<a href="../employers/add-employer.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button" formnovalidate>Add employer
  </a>-->
</section>

 <section id="bank-details" class="govuk-!-padding-top-6">
  <h2 class="govuk-heading-m" id="employment-and-earnings">National Insurance contributions</h2>

  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        Number of NICs
      </dt>
      <dd class="govuk-summary-list__value">
       3
      </dd>
    </div>


  

  <div style="display:flex; align-items:center; gap:10px;">
        <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button" formnovalidate style="margin-top:20px;;">Recalculate</a>
    


  <p style="margin:0;">
    Last calculated 15 July 2026
  </p>
</div>
</section>
    
    <section id="bank-details" class="govuk-!-padding-top-6">
  <h2 class="govuk-heading-m" id="employment-and-earnings">Notional earnings</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__key  govuk-!-width-one-half">
        Average notional earnings
      </dt>
      <dd class="govuk-summary-list__key">
        £71.07
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
    <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        6 July 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £207.97
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        13 July 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £207.97
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        20 July 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £207.97
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        27 July 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        3 August 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        10 August 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        17 August 2026
      </dt>
      <dd class="govuk-summary-list__value">
       £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        23 August 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        31 August 2026
      </dt>
      <dd class="govuk-summary-list__value">
       £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        7 September 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        14 September 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        21 September 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
        <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__value  govuk-!-width-one-half">
        28 September 2026
      </dt>
      <dd class="govuk-summary-list__value">
        £30.00
      </dd>
      <dd class="govuk-summary-list__actions">
        
    </dd>
    </div>
    

</section> 

</div>

</section>



</section>
{% endblock %}
