
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

 

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Continue with this claim</h1> 
 
       <p class="govuk-body">You can confirm or change the claimant's address later.</p> 

       <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue 
      </button>
    </div>
  </div>
         
       
 

{% endblock %}
