
{% extends "layout.html" %}
{% set bodyAttributes = { id: "summary-screen" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}


<!-- here -->

      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}
    {% endblock %}


  {% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


  <section class="key-details-bar-white govuk-!-margin-bottom-0" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Louise Sophie Arnold</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">XX123456X</dt>
      </div>

      <div class="key-details-bar__bottom-block">
          <dt>Date of birth:</dt>
          <dd>14 May 1994</dd>
          <dt>Postcode:</dt>
          <dd>DH7 5RK</dd>
          <dt>Contact number:</dt>
          <dd>08952 003201</dd>
      </div>
    </dl>
  </section>

  <nav class="dwp-sub-navigation govuk-!-margin-top-6" aria-label="Sub navigation">

    <ul class="dwp-sub-navigation__list">
      <li class="dwp-sub-navigation__item">
        <a class="dwp-sub-navigation__link decision" aria-current="page" href="#decision">Decision</a>
      </li>

      <li class="dwp-sub-navigation__item">
        <a class="dwp-sub-navigation__link" href="#test-period-dates">Test Period dates</a>
      </li>

      <li class="dwp-sub-navigation__item">
        <a class="dwp-sub-navigation__link" href="#map-dates">Maternity Allowance Period dates</a>
      </li>

      <li class="dwp-sub-navigation__item">
        <a class="dwp-sub-navigation__link" href="#employment-and-earnings">Employment and earnings</a>
      </li>

      <li class="dwp-sub-navigation__item float-right">
        <a class="dwp-sub-navigation__link top" href="#">
          Top
           <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg></a>
      </li>
    </ul>

  </nav>


{% from "govuk/components/table/macro.njk" import govukTable %}

<section id="decision" class="govuk-!-padding-top-6">
<h2 class="govuk-heading-m">Decision</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Decision
    </dt>
    <dd class="govuk-summary-list__value govuk-!-width-one-half">
      {{govukTag({
        text: "Allowed",
        classes: "govuk-tag--green"
      })}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Decision date
    </dt>
    <dd class="govuk-summary-list__value">
      24 November 2021
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Rate
    </dt>
    <dd class="govuk-summary-list__value">
      Standard rate at £151.97 per week
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Maternity Allowance Period start date
    </dt>
    <dd class="govuk-summary-list__value">
      31 October 2021
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Maternity Allowance Period end date
    </dt>
    <dd class="govuk-summary-list__value">
      24 July 2022
    </dd>
  </div>
</dl>
</section>


<section id="test-period-dates" class="govuk-!-padding-top-9">
<h2 class="govuk-heading-m">Test Period dates</h2>
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-0',
  rows: [
    {
      key: {
        text: "Baby due date",
        classes: 'govuk-!-width-one-half'
      },
      value: {
        text: "20 December 2021",
        classes: 'govuk-!-width-one-half'
      }
    },
    {
      key: {
        text: "First day of Test Period"
      },
      value: {
        text: "13 September 2020"
      }
    },
    {
      key: {
        text: "Last day of Test Period"
      },
      value: {
        text: "18 December 2021"
      }
    },
    {
      key: {
        text: "15th week before the baby due date"
      },
      value: {
        text: "5 September 2021"
      }
    }
  ]
}) }}
</section>


<section id="map-dates" class="govuk-!-padding-top-9">
<h2 class="govuk-heading-m">Maternity Allowance Period dates</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Date the claim was received
    </dt>
    <dd class="govuk-summary-list__value govuk-!-width-one-half">
      19 November 2021
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date the claimant stopped work
    </dt>
    <dd class="govuk-summary-list__value">
      25 October 2021
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Expected week of confinement
    </dt>
    <dd class="govuk-summary-list__value">
      19 December 2021
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      11th week before the baby due date
    </dt>
    <dd class="govuk-summary-list__value">
      3 October 2021
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      4th week before the baby due date
    </dt>
    <dd class="govuk-summary-list__value">
      21 November 2021
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start date requested by the claimant
    </dt>
    <dd class="govuk-summary-list__value">
      31 October 2021
      {{govukTag({
        text: "Allowed",
        classes: "govuk-tag--green govuk-!-margin-left-2"
      })}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Maternity Allowance Period rule
    </dt>
    <dd class="govuk-summary-list__value">
      Flexible Maternity Allowance Period
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Maternity Allowance Period start date
    </dt>
    <dd class="govuk-summary-list__value">
      31 October 2021
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Maternity Allowance Period end date
    </dt>
    <dd class="govuk-summary-list__value">
      24 July 2022
    </dd>
  </div>
</dl>
</section>


<section id="employment-and-earnings" class="govuk-!-padding-top-9">
<h2 class="govuk-heading-m" id="employment-and-earnings">Employment and earnings</h2>


{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        text: "Employer 1",
        classes: 'govuk-!-width-one-half'
      },
      value: {
        text: "HELLO HOW ARE YOU LIMITED",
        classes: 'govuk-!-width-one-half'
      }
    },
    {
      key: {
        text: "Employer 2",
        classes: 'govuk-!-width-one-half'
      },
      value: {
        text: "INTERESTING THINGS TO DO LTD",
        classes: 'govuk-!-width-one-half'
      }
    },
    {
      key: {
        text: "Employment test",
        classes: 'govuk-!-width-one-half'
      },
      value: {
        text: "Met",
        classes: 'govuk-!-width-one-half'
      }
    },
    {
      key: {
        text: "Employment test weeks used"
      },
      value: {
        text: "14 March 2021 to 5 September 2021"
      }
    },
    {
      key: {
        text: "Earnings test"
      },
      value: {
        text: "Met"
      }
    },
    {
      key: {
        text: "Earnings test weeks used"
      },
      value: {
        text: "13 June 2021 to 5 September 2021"
      }
    },
    {
      key: {
        text: "Average weekly earnings for earnings test"
      },
      value: {
        text: "£187.31"
      }
    }
  ]
}) }}



{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
caption: "Highest earning weeks",
classes: 'no-padding-right',
captionClasses: "govuk-table__caption--m",
firstCellIsHeader: true,
head: [
{
text: "Start date"
},
{
text: "HELLO HOW ARE YOU LIMITED",
      format: "numeric",
      classes: 'govuk-!-width-one-quarter'
},
{
text: "INTERESTING THINGS TO DO LTD",
      format: "numeric",
      classes: 'govuk-!-width-one-quarter'
},
{
text: "Total",
      format: "numeric",
      classes: 'govuk-!-width-one-quarter'
}
],
rows: [
[
{
text: "13 June 2021"
},
{
text: "£117.50",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£192.50",
      format: "numeric"
}
],
[
{
text: "20 June 2021"
},
{
text: "£117.50",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£192.50",
      format: "numeric"
}
],
[
{
text: "27 June 2021"
},
{
text: "£117.50",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£192.50",
      format: "numeric"
}
],
[
{
text: "4 July 2021"
},
{
text: "£117.50",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£192.50",
      format: "numeric"
}
],
[
{
text: "11 July 2021"
},
{
text: "£100.00",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£175.00",
      format: "numeric"
}
],
[
{
text: "18 July 2021"
},
{
text: "£117.50",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£192.50",
      format: "numeric"
}
],
[
{
text: "25 July 2021"
},
{
text: "£105.00",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£180.00",
      format: "numeric"
}
],
[
{
text: "1 August 2021"
},
{
text: "£105.00",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£180.00",
      format: "numeric"
}
],
[
{
text: "8 August 2021"
},
{
text: "£117.50",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£192.50",
      format: "numeric"
}
],
[
{
text: "15 August 2021"
},
{
text: "£117.50",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£192.50",
      format: "numeric"
}
],
[
{
text: "22 August 2021"
},
{
text: "£117.50",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£192.50",
      format: "numeric"
}
],
[
{
text: "29 August 2021"
},
{
text: "£105.00",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£180.00",
      format: "numeric"
}
],
[
{
text: "5 September 2021"
},
{
text: "£105.00",
      format: "numeric"
},
{
text: "£75.00",
      format: "numeric"
},
{
text: "£180.00",
      format: "numeric"
}
]
]
}) }}
</section>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

      </div>
    </div>
  {% endblock %}
