
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     


         {{ govukRadios({

          fieldset: {
            legend: {
              text: "Please choosing the reason for assigning this claim as incomplete",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
            hint: {
              text: "The claim will now be inactive until allowed"
            }, 

          items: [
          {
            value: "missing-evidence",
            text: "Missing evidence"
          },
          {
            value: "further-discussion",
            text: "Need further discussion"
          }      

          ]
        }) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}

      

    </div>
  </div>

{% endblock %}
