
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

        <h1 class="govuk-heading-l">Claimant has 3 employers</h1>
        <div class="govuk-form-group">
        
          <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                {{ data['ma-employer-1'] }}
              </dt>
              <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                {{ data['ma-employer-2'] }}
              </dt>
              <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Michael Cain</span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Michael Cain from the list</span></a></li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                {{ data['ma-employer-3'] }}
              </dt>
              <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Michael Cain</span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="summary-2-employers.html"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Michael Cain from the list</span></a></li>
                </ul>
              </dd>
            </div>
          </dl>
        
        </div>
        <form method="post" novalidate action="">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                Does the claimant have another employer?
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-another-employer" name="add-another-employer" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="add-another-employer">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-another-employer-2" name="add-another-employer" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="add-another-employer-2">
                    No
                  </label>
                </div>
              </div>
        
            </fieldset>
          </div>
        
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </form>

    </div>
  </div>

{% endblock %}
