
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div id="contentToTest" class="content-letter"
      <div class="govuk-!-margin-top-4">

    </div>
    <div class="address-row">
      <div class="address-row-item">
        <p>
          {{ dpName }} <br><br>
          11 First Street<br>
          Townsville<br>
          Y07 6RT
          </p>
  </div>

{% endblock %}
