
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Claimant details
      </h1>

      <form class="form" method="post" novalidate>


      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "National Insurance number"
        },
        classes: "govuk-input--width-10",
        id: "nino",
        name: "nino"
      }) }}

      {{ govukInput({
        label: {
          text: "UK telephone number"
        },
        classes: "govuk-input--width-10",
        id: "contact-no",
        name: "contact-no"
      }) }}

      {% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  legend: {
    text: "Address",
    classes: "govuk-fieldset__legend--s"
  }
}) %}

  {{ govukInput({
    label: {
      html: 'Address line 1'
    },
    id: "address-line-1",
    name: "address-line-1",
    autocomplete: "address-line1"
  }) }}

  {{ govukInput({
    label: {
      html: 'Address line 2 (optional)'
    },
    id: "address-line-2",
    name: "address-line-2",
    autocomplete: "address-line2"
  }) }}

  {{ govukInput({
    label: {
      text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-town",
    name: "address-town",
    autocomplete: "address-level2"
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode (optional)"
    },
    classes: "govuk-input--width-10",
    id: "more-info-postcode",
    name: "more-info-postcode",
    value: data['address-postcode'],
    autocomplete: "postal-code"
  }) }}

{% endcall %}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
