
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
 
        {{ govukRadios({

          fieldset: {
            legend: {
              text: "Select an overlapping benefit type you want to add to this claim",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "esa",
            text: "Employment and Support Allowance (ESA)"
          },
          {
            value: "jsa",
            text: "Jobseeker's Allowance (JSA)"
          },
          {
            value: "ca",
            text: "Carer's Allowance (CA)"
          },
          {
            value: "csp",
            text: "Carer Support Payment (CSP) - Scotland only"
          },
          {
            value: "bb",
            text: "Bereavement Benefit/Widow's Benefit (BB/WB)"
          },
          {
            value: "is",
            text: "Income Support (IS)"
          },
          {
            value: "ib",
            text: "Incapacity Benefit (IB)"
          },
          {
            value: "pc",
            text: "Pension Credit (PC)"
          },
          {
            value: "sp",
            text: "State Pension (SP)"
          }

            

          ]

          

        }) }}


        <form class="form" method="post" novalidate>



          {% from "govuk/components/button/macro.njk" import govukButton %}
      
          {{ govukButton({
            text: "Save and continue"
          }) }}
      
          </form>

    </div>
  </div>

  

{% endblock %}
