
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Overlapping benefit details</h1>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Overlapping benefit type</th>
      <td class="govuk-table__cell">Employment and Support Allowance (ESA)</td>
      <td class="govuk-table__cell"> <a class="govuk-link" href="../offset/type">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Offset amount</th>
        <td class="govuk-table__cell">£80.00</td>
        <td class="govuk-table__cell">   <a class="govuk-link" href="../offset/amount">
          Change<span class="govuk-visually-hidden"> name</span>
        </a></td>
      </tr>
      <!--<tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Frequency</th>
        <td class="govuk-table__cell">Weekly</td>
        <td class="govuk-table__cell">  </td>
      </tr>-->
    </tr>
      <th scope="row" class="govuk-table__header">Start date</th>
      <td class="govuk-table__cell">1 May 2024</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../offset/start">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">End date</th>
      <td class="govuk-table__cell">29 May 2024</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../offset/stop">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>


</tbody>
</table>

<h2 class="govuk-heading-m" id="employment-and-earnings">Payment schedule</h2>

<table class="govuk-table">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Overlapping benefit type</th>
    <td class="govuk-table__header">Deduction</td>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 July 2024 - 29 July 2024</td>
      <td class="govuk-table__cell">£30.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">30 July 2024 - 28 August 2024</td>
        <td class="govuk-table__cell">£30.00</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">29 August 2024 - 27 September 2024</td>
          <td class="govuk-table__cell">£30.00</td>
          </tr>



</tbody>
</table>
  </section>

  <form class="form" method="post" novalidate>



    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
