
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Maternity Allowance Private Beta
      </h1>

      <ul class="govuk-list govuk-!-margin-bottom-6"> 

        <li>
          <a href="/beta-private/iteration-35" class="govuk-body govuk-!-font-weight-bold">Iteration 35</a>
        </li>                
        <li>
          <a href="/beta-private/iteration-34" class="govuk-body govuk-!-font-weight-bold">Iteration 34</a>
        </li>
        <li>
          <a href="/beta-private/iteration-33" class="govuk-body govuk-!-font-weight-bold">Iteration 33</a>
        </li>
        <li>
          <a href="/beta-private/iteration-32" class="govuk-body govuk-!-font-weight-bold">Iteration 32</a>
        </li>
        <li>
          <a href="/beta-private/iteration-31" class="govuk-body govuk-!-font-weight-bold">Iteration 31</a>
        </li>
        <li>
          <a href="/beta-private/iteration-30" class="govuk-body govuk-!-font-weight-bold">Iteration 30</a>
        </li>
        <li>
          <a href="/beta-private/iteration-29" class="govuk-body govuk-!-font-weight-bold">Iteration 29</a>
        </li>
        <li>
          <a href="/beta-private/iteration-28-c" class="govuk-body govuk-!-font-weight-bold">Iteration 28-c</a>
        </li>
        <li>
          <a href="/beta-private/iteration-28-b" class="govuk-body govuk-!-font-weight-bold">Iteration 28-b</a>
        </li>
        <li>
          <a href="/beta-private/iteration-28" class="govuk-body govuk-!-font-weight-bold">Iteration 28</a>
        </li>
        <li>
          <a href="/beta-private/iteration-27-b" class="govuk-body govuk-!-font-weight-bold">Iteration 27-b</a>
        </li>
        <li>
          <a href="/beta-private/iteration-27" class="govuk-body govuk-!-font-weight-bold">Iteration 27</a>
        </li>
        <li>
          <a href="/beta-private/iteration-26" class="govuk-body govuk-!-font-weight-bold">Iteration 26</a>
        </li>
        <li>
          <a href="/beta-private/iteration-25" class="govuk-body govuk-!-font-weight-bold">Iteration 25</a>
        </li>
        <li>
          <a href="/beta-private/iteration-24" class="govuk-body govuk-!-font-weight-bold">Iteration 24</a>
        </li>
        <li>
          <a href="/beta-private/iteration-23" class="govuk-body govuk-!-font-weight-bold">Iteration 23</a>
        </li>
        <li>
          <a href="/beta-private/iteration-22" class="govuk-body govuk-!-font-weight-bold">Iteration 22</a>
        </li>
        <li>
          <a href="/beta-private/iteration-21" class="govuk-body govuk-!-font-weight-bold">Iteration 21</a>
        </li>
        <li>
          <a href="/beta-private/iteration-20/" class="govuk-body govuk-!-font-weight-bold">Iteration 20</a>
        </li>
        <li>
          <a href="/beta-private/iteration-19/" class="govuk-body govuk-!-font-weight-bold">Iteration 19</a>
        </li>
        <li>
          <a href="/beta-private/iteration-18/" class="govuk-body govuk-!-font-weight-bold">Iteration 18</a>
        </li>

          <a href="/beta-private/iteration-17/" class="govuk-body govuk-!-font-weight-bold">Iteration 17</a>
        </li>
        <li>
          <a href="/beta-private/iteration-16/" class="govuk-body govuk-!-font-weight-bold">Iteration 16</a>
        </li>
        <li>
          <a href="/beta-private/iteration-15/" class="govuk-body govuk-!-font-weight-bold">Iteration 15</a>
        </li>
        <li>
          <a href="/beta-private/iteration-14/" class="govuk-body govuk-!-font-weight-bold">Iteration 14</a>
        </li>
        <li>
          <a href="/beta-private/iteration-13/" class="govuk-body govuk-!-font-weight-bold">Iteration 13</a>
        </li>
        <li>
          <a href="/beta-private/iteration-12/" class="govuk-body govuk-!-font-weight-bold">Iteration 12</a>
        </li>
        <li>
          <a href="/beta-private/iteration-11/" class="govuk-body govuk-!-font-weight-bold">Iteration 11</a>
        </li>
        <li>
          <a href="/beta-private/iteration-10/" class="govuk-body govuk-!-font-weight-bold">Iteration 10</a>
        </li>
        <li>
          <a href="/beta-private/iteration-9/" class="govuk-body govuk-!-font-weight-bold">Iteration 9</a>
        </li>
        <li>
          <a href="/beta-private/iteration-8/" class="govuk-body govuk-!-font-weight-bold">Iteration 8</a>
        </li>
        <li>
          <a href="/beta-private/iteration-7/" class="govuk-body govuk-!-font-weight-bold">Iteration 7</a>
        </li>
        <li>
          <a href="/beta-private/iteration-6/" class="govuk-body govuk-!-font-weight-bold">Iteration 6</a>
        </li>
        <li>
          <a href="/beta-private/iteration-5/" class="govuk-body govuk-!-font-weight-bold">Iteration 5</a>
        </li>
        <li>
          <a href="/beta-private/iteration-4/" class="govuk-body govuk-!-font-weight-bold">Iteration 4</a>
        </li>
        <li>
          <a href="/beta-private/iteration-3/" class="govuk-body govuk-!-font-weight-bold">Iteration 3</a>
        </li>
        <li>
          <a href="/beta-private/iteration-2/" class="govuk-body govuk-!-font-weight-bold">Iteration 2</a>
        </li>
        <li>
          <a href="/beta-private/iteration-1/" class="govuk-body govuk-!-font-weight-bold">Iteration 1</a>
        </li>
        <li>
          <a href="/beta-private/learning/" class="govuk-body govuk-!-font-weight-bold">Learning</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Other</h2>

      <ul class="govuk-list">

        <li>
          <a href="/ur/" class="govuk-body">User Research</a>
        </li>
        <li>
          <a href="/beta-private/service-pages" class="govuk-body">Service pages</a>
        </li>
        <li>
          <a href="/alpha/" class="govuk-body">Alpha iterations and User Research</a>
        </li>
        <li>
          <a href="/beta-private/sandbox/" class="govuk-body">Sandbox</a>
        </li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Releases
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list">
            <li>
              <a href="/releases/1-0-3/" class="govuk-body">1.0.3</a>
            </li>
            <li>
              <a href="/releases/1-0-4/" class="govuk-body">1.0.4</a>
            </li>
          </ul>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
