
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Maternity Allowance
      </h1>

      {%- from "govuk/components/tag/macro.njk" import govukTag -%}
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-6">
          <a href="/iteration-2/" class="govuk-body govuk-!-font-weight-bold">Iteration 2</a>
            {{govukTag({
              text: "Current",
              classes: "govuk-tag--turquoise"
            })}}
          <br />w/c 25 October 2021
        </li>
        <li class="govuk-!-margin-bottom-6">
          <a href="/iteration-1/" class="govuk-body govuk-!-font-weight-bold">Iteration 1</a>
          <br />w/c 18 October 2021
        </li>
        <li>
          <a href="/ur/" class="govuk-body govuk-!-font-weight-bold">User Research</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
