
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--l" for="width-2">
          How many days does the claimant currently work?
        </label>
        <input class="govuk-input govuk-input--width-2" id="width-2" name="width2" type="text">
      </div>

    </div>
  </div>

  <form class="form" method="post" novalidate>

{{ govukButton({
  text: "Save and continue"
}) }}
</form>
{% endblock %}
