
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Maternity Allowance 2023 
      </h1>


      <ul class="govuk-list govuk-!-margin-bottom-6">
        <li>
          <a href="/comms/letters-2023/letter-a.html" class="govuk-body govuk-!-font-weight-bold">Letter A</a>
        </li>
        <li>
          <a href="/comms/letters-2023/letter-b" class="govuk-body govuk-!-font-weight-bold">Letter B</a>
        </li>
      
      <li>
        <a href="/comms/letters-2023/letter-c.pdf" class="govuk-body govuk-!-font-weight-bold">Letter C </a>
      </li>

    <!-- <li>
      <a href="letter/d" class="govuk-body govuk-!-font-weight-bold">Letter D</a>
    </li> -->

  <li>
    <a href="/comms/letters-2023/letter-e" class="govuk-body govuk-!-font-weight-bold">Letter E</a>
  </li>

<li>
  <a href="/comms/letters-2023/letter-f" class="govuk-body govuk-!-font-weight-bold">Letter F</a>
</li>

<!-- <li>
  <a href="letter/g" class="govuk-body govuk-!-font-weight-bold">Letter G</a>
</li>
</ul> -->
     
    </div>
  </div>

{% endblock %}
