
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/employer2" method="post">

        {{ govukRadios({
          name: "employed2",
          value: data['employed2'],
          fieldset: {
            legend: {
              text: "Is the claimant still with the employer?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }

          ]
        }) }}

        <a href="/beta-private/iteration-36/find-a-claim/payment-override/employment-start"><button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button></a>

      </form>

    </div>
  </div>

{% endblock %}
