
{% extends "layout.html" %}
{% set bodyAttributes = { id: "summary-screen" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}


      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}
    {% endblock %}


  {% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


  <section class="key-details-bar-white govuk-!-margin-bottom-0" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Helen Ashfield</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">XX112233X</dt>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>16 September 1987</dd>
        <dt>Postcode:</dt>
        <dd>DH5 9YR</dd>
        <dt>Contact number:</dt>
        <dd>07847 171740</dd>
      </div>
    </dl>
  </section>



  <nav class="dwp-sub-navigation govuk-!-margin-top-6" aria-label="Sub navigation">

    <ul class="dwp-sub-navigation__list">
      <li class="dwp-sub-navigation__item">
        <a class="dwp-sub-navigation__link decision" aria-current="page" href="#decision">Decision</a>
      </li>

      <li class="dwp-sub-navigation__item">
        <a class="dwp-sub-navigation__link" href="#test-period-dates">Test Period dates</a>
      </li>

      <li class="dwp-sub-navigation__item">
        <a class="dwp-sub-navigation__link" href="#map-dates">Maternity Allowance Period dates</a>
      </li>

      <li class="dwp-sub-navigation__item">
        <a class="dwp-sub-navigation__link" href="#employment-and-earnings">Employment and earnings</a>
      </li>

      <li class="dwp-sub-navigation__item float-right">
        <a class="dwp-sub-navigation__link top" href="#">
          Top
           <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg></a>
      </li>
    </ul>

  </nav>

{% from "govuk/components/table/macro.njk" import govukTable %}

<section id="decision" class="govuk-!-padding-top-6">
<h2 class="govuk-heading-m">Decision</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Decision
    </dt>
    <dd class="govuk-summary-list__value">
      {{govukTag({
        text: "Pending"
      })}}
    </dd>
  </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        Claim created
      </dt>
      <dd class="govuk-summary-list__value">
        19 May 2022
      </dd>
    </div>
</dl>
</section>


<section id="test-period-dates" class="govuk-!-padding-top-9">
<h2 class="govuk-heading-m">Test Period dates</h2>
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-0',
  rows: [
    {
      key: {
        text: "Baby due date",
        classes: 'govuk-!-width-one-half'
      },
      value: {
        text: "18 May 2022"
      }
    },
    {
      key: {
        text: "First day of Test Period"
      },
      value: {
        text: "7 February 2021"
      }
    },
    {
      key: {
        text: "Last day of Test Period"
      },
      value: {
        text: "14 May 2022"
      }
    },
    {
      key: {
        text: "15th week before the baby due date"
      },
      value: {
        text: "30 January 2022"
      }
    }
  ]
}) }}
</section>


<section id="map-dates" class="govuk-!-padding-top-9">
<h2 class="govuk-heading-m">Maternity Allowance Period dates</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Date the claim was received
    </dt>
    <dd class="govuk-summary-list__value">
      20 April 2022
    </dd>
    <dd class="govuk-summary-list__actions">
      &nbsp;
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date the claimant stopped work
    </dt>
    <dd class="govuk-summary-list__value">
      8 April 2022
    </dd>
    <dd class="govuk-summary-list__actions">
      <!--
        <a class="govuk-link" href="date-last-worked?action=change">
        Change<span class="govuk-visually-hidden"> date of birth</span>
      </a>
      -->
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Expected week of confinement
    </dt>
    <dd class="govuk-summary-list__value">
      15 May 2022
    </dd>
    <dd class="govuk-summary-list__actions">
      &nbsp;
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      11th week before the baby due date
    </dt>
    <dd class="govuk-summary-list__value">
      27 February 2022
    </dd>
    <dd class="govuk-summary-list__actions">
      &nbsp;
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      4th week before the baby due date
    </dt>
    <dd class="govuk-summary-list__value">
      17 April 2022
    </dd>
    <dd class="govuk-summary-list__actions">
      &nbsp;
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start date requested by the claimant
    </dt>
    <dd class="govuk-summary-list__value">
      12 April 2022
      <!--
      {{govukTag({
        text: "Allowed",
        classes: "govuk-!-margin-left-2"
      })}}
      -->
    </dd>
    <dd class="govuk-summary-list__actions">
      &nbsp;
    </dd>
  </div>
</dl>
</section>


<section id="employment-and-earnings" class="govuk-!-padding-top-9">
<h2 class="govuk-heading-m" id="employment-and-earnings">Employment and earnings</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Employment test
    </dt>
    <dd class="govuk-summary-list__value">
      10 weeks employment provided by Real Time Information
    </dd>
  </div>
  <!--
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Employment test period
    </dt>
    <dd class="govuk-summary-list__value">
      7 February 2021 to 8 August 2021
    </dd>
  </div>
  -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Employer
    </dt>
    <dd class="govuk-summary-list__value">
      DIRECT HOME CARE LTD
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Earnings test
    </dt>
    <dd class="govuk-summary-list__value">
      10 weeks earnings provided by Real Time Information
    </dd>
  </div>
  <!--
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Earnings test weeks used
    </dt>
    <dd class="govuk-summary-list__value">
      7 February 2021 to 9 May 2021
    </dd>
  </div>
  -->
</dl>



{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
caption: "Highest earning weeks (10 weeks available)",
captionClasses: "govuk-table__caption--m",
classes: "govuk-!-margin-bottom-9",
firstCellIsHeader: true,
head: [
{
text: "Start date",
classes: 'govuk-!-width-one-half'
},
{
text: "Amount"
}
],
rows: [
  [
  {
  text: "14 November 2021"
  },
  {
  text: "£200.00"
  }
  ],
  [
  {
  text: "21 November 2021"
  },
  {
  text: "£200.00"
  }
  ],
  [
  {
  text: "28 November 2021"
  },
  {
  text: "£200.00"
  }
  ],
  [
  {
  text: "5 December 2021"
  },
  {
  text: "£200.00"
  }
  ],
  [
  {
  text: "12 December 2021"
  },
  {
  text: "£200.00"
  }
  ],
  [
  {
  text: "19 December 2021"
  },
  {
  text: "£200.00"
  }
  ],
  [
  {
  text: "30 January 2022"
  },
  {
  text: "£200.00"
  }
  ],
  [
  {
  text: "6 February 2022"
  },
  {
  text: "£200.00"
  }
  ],
  [
  {
  text: "13 February 2022"
  },
  {
  text: "£200.00"
  }
  ],
  [
  {
  text: "20 February 2022"
  },
  {
  text: "£200.00"
  }
  ]
]
}) }}
</section>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

      </div>
    </div>
  {% endblock %}
